@{
    ViewData["Title"] = $"{ViewBag.Title}";
}
@model WebApp_ProgrammingLang.ViewModels.WorksViewModel

<div class="modal fade" id="modDeleteDialog" aria-hidden="true" aria-labelledby="modDeleteDialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" id="modContent"></div>
</div>

<div class="pt-md-5 pt-lg-2 pt-2">
    <div class="container-md">
        <div class="row">
            <div class="p-md-3 p-0 text-md-center">
                @if (Model.Work.User.UserImage == null)
                {
                    <img src="~/images/avatars/account_avatar.png" class="rounded-1 display-1 rounded-circle">
                }
                else
                {
                    <img src="~/images/avatars/users/@Model.Work.User.UserImage" class="rounded-1 display-1 rounded-circle">
                }
                <h4 class="h2 display-1" style="font-family: 'Comfortaa', cursive; font-size: 5ch">@Model.Work.User.UserName</h4>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="p-md-4 p-sm-1 p-1">
                <div class="card border-info border-4">
                    <div class="card-header bg-dark">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="h2 text-white" style="font-family: 'Comfortaa', cursive;">@Model.Work.Title</h5>
                            </div>
                            <div class="col-sm-4 align-content-end">
                                @if (Model.Work.User.UserName == User.Identity.Name)
                                {
                                    <a class="btn btn-primary" asp-area="" asp-controller="Works" asp-action="Edit" asp-route-id="@Model.Work.ID">Редактировать</a>
                                    <a class="btn btn-danger" id="deleteLink" asp-area="" asp-controller="Works" asp-action="Delete" asp-route-id="@Model.Work.ID">Удалить</a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="font-family: 'Eco 2', sans-serif;">
                        <h6 class="card-subtitle" style="font-family: 'Comfortaa', cursive;">Дата публикации: @Model.Work.PublishDate; Язык: @Model.Work.ProgrammingLanguage.Title</h6>
                        @if (Model.Work.Description != null)
                        {
                            <p class="mb-3">@Model.Work.Description</p>
                        }
                        else
                        {
                            <p class="mb-3 text-muted">Нет описании</p>
                        }
                        <div class="card-text bg-black rounded-3">
                            <code>@Model.Work.Code</code>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="mb-3">
                            <a class="link-primary" href="#comment">
                                <img src="~/images/commentlinear_106230.png" />@Model.Comments.Count
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="pt-md-4 pt-lg-2 pt-3">
                <h3 class="h1" style="font-family: 'Comfortaa', cursive;">Комментарии</h3>
                @foreach (var c in Model.Comments)
                {
                    <div class="card" style="margin-bottom: 2em;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="link-primary" href="#">
                                    @if (c.User.UserImage == null)
                                    {
                                        <img class="rounded-circle img-thumbnail" src="~/images/avatars/account_avatar.png">
                                    }
                                    else
                                    {
                                        <img class="rounded-circle img-thumbnail" src="~/images/avatars/users/@c.User.UserImage">
                                    }
                                    @c.User.UserName
                                </a>
                            </h5>
                            <h6 class="card-subtitle mb-3 text-muted">Дата: @c.DateComment</h6>
                            <p class="card-text mb-3">@c.CommentText</p>
                            <a class="link-primary" href="#">Ответить</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row justify-content-md-center" style="margin-top: 2em;">
            <div class="pt-md-4 pt-lg-2 pt-3">
                <form>
                    <div class="input-group mb-3">
                        <textarea class="form-control" id="comment"></textarea>
                        <button type="submit" class="btn btn-outline-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>