@{
    ViewData["Title"] = "Задании";
}
@model WebApp_ProgrammingLang.ViewModels.TaskViewModel

<div class="pt-md-5 pt-lg-2 pt-2">
    <div class="container-md">
        <div class="row justify-content-md-center">
            <form class="container-fluid" method="get" asp-controller="Task" asp-action="Index">
                <div class="row" style="margin-bottom: 2em;">
                    <div class="input-group">
                        <input type="search" asp-for="SearchTask" class="form-control" placeholder="Поиск задании" name="searchTask" />
                        <button type="submit" class="btn btn-outline-success">
                            <img src="~/lib/bootstrap-icons-1.8.3/search.svg" />
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row justify-content-md-start">
            @foreach (var t in Model.Tasks)
            {
                <div class="col-sm-6" style="margin-bottom: 1.5em">
                    <div class="card border-primary border-3">
                        <div class="card-header bg-primary" style="font-family: 'Comfortaa', cursive;">
                            <h5 class="text-white">@t.Title</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" style="font-family: 'Comfortaa', cursive;">Автор: <a class="link-primary" asp-area="" asp-controller="User" asp-action="Profile" asp-route-userName="@t.User.UserName">@t.User.UserName</a></h5>
                            <h6 class="card-subtitle" style="font-family: 'Comfortaa', cursive;">@t.DatePublish</h6>
                            <p class="card-text mb-3">Язык: @t.ProgrammingLanguage.Title</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Task" asp-action="Detail" asp-route-id="@t.ID">Подробно</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
